/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 $normalBorder: 2px solid rgb(75, 74, 74);

 body {
  background-image: url("Gym.jpg");
  background-size: cover;
 }

 .container {
   background: white;
   border: $normalBorder;
   border-radius: 5px;
   margin: 20px auto;
 }

 .form-container {
   padding: 20px;
 }

 h1 {
  text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
 }

.navbar.navbar-default {
  border: $normalBorder;
  color: black;
}

 .alert.alert-danger {
   margin-top: 15px;
 }

 .navbar.navbar-default {
   margin: 0px;
 }

 .navbar-header {
   margin-top: 5px;
 }

 .show-view {
   border-top: $normalBorder;
   padding-top: 15px; 
 }

 input {
   margin-bottom: 15px;
 }

 #previous {
   float: left;
   margin-bottom: 5px;
 }

 #next {
   float: right;
   margin-bottom: 5px;
 }

 .btn.btn-danger.btn-sm {
   margin-top: 5px;
 }

 .btn.btn-primary.btn-lg.edit-app {
   margin-bottom: 15px;
 }

 #login-button {
   margin-top: 30px;
 }

 .grid {
   display: grid;
   grid-column-gap: 1px;
   margin-bottom: 10px;
   &.client-partial {
    grid-template-columns: 1fr 1fr 1fr;
   }
   &.signup-login {
    grid-template-columns: 1fr 1fr 1fr;
   }
 }


