<h1>Your Appointments:</h1>
<br></br>
<table class="table">
  <tr class="header-row">
    <th class="column-header">Client:</th>
    <th class="column-header">Date:</th>
    <th class="column-header"></th>
    <th class="column-header"></th>
  </tr>
  <% @appointments.each do |a| %>
    <tr>
      <td><%= client_name(a.client) %></td>
      <td><%= date_parse(a) %></td>
      <td><%= link_to "Reschedule Appointment", edit_client_appointment_path(a.client, a), class: "btn btn-default" %></td>
      <td><%= link_to "Appointment Complete", appointment_complete_path(a.client), class: "btn btn-success" %></td>
    </tr>
  <% end %>
</table>
